<html>
<head>
	<title>Classifications Demo</title>
</head>
<body>
	<h1>Classifications</h1>
	<h2>Classification for girl with height: {{girl_height}} and weight: {{girl_weight}}</h2>
	<ul>
		<li>Probability boy: {{girl_result_boy_prob}}%</li>
		<li>Probability girl: {{girl_result_girl_prob}}%</li>
		<li>Guess: {{girl_result_guess}}</li>
	</ul>
	<h2>Classification for boy with height: {{boy_height}} and weight: {{boy_weight}}</h2>
	<ul>
		<li>Probability boy: {{boy_result_boy_prob}}%</li>
		<li>Probability girl: {{boy_result_girl_prob}}%</li>
		<li>Guess: {{boy_result_guess}}</li>
	</ul>
</body>
</html>
